# strings

##### class code along
- we have just created and printed out string type variable in lecture 4
- this lecture is more about strings

## Concatenate strings

In [2]:
# concatenate multiple strings with + operator
# remember + operator has another meaning when it comes to numeric variables

first_name = "kokchun"
last_name = "giang"

full_name = first_name + " " + last_name
full_name

'kokchun giang'

In [6]:
# multiline f-string for concatenating many strings
work = "Algineer AB"
adress = "Supah cool streeeeeeeeeeeto"

# f-string with one line
print(f"{full_name} is working in a company called {work}. And his adress is {adress}.")

# f-string with multiple
print(f"""{full_name} is working in a company called {work}.
And his adress is {adress}.""")

kokchun giang is working in a company called Algineer AB. And his adress is Supah cool streeeeeeeeeeeto.
kokchun giang is working in a company called Algineer AB.
And his adress is Supah cool streeeeeeeeeeeto.

In [8]:
# concatenate with loop

fruits_today = "apple " + "orange " + "strawberry "

print(f"#Today's fruits: {fruits_today}")

fruits_today_list = ["apple", "orange", "strawberry"]
for fruit in fruits_today_list:
    print(fruit)

#Today's fruits: apple orange strawberry
apple
orange
strawberry

## Indexing
- an operation to access "an item"
- what is an item in the context of string? it is one of the characters inside the string
- we can use[] operator for indexing
- slicing is also possible if we want to access multiple characters
- we can use : for slicing

In [10]:
# index
print(full_name)
print(f"The first letter of the string is: {full_name[0]}")
print(f"The last letter is: {full_name[12]}")

kokchun giang
The first letter of the string is: k
The last letter is: g

In [20]:
# slicing
print(f"The first three letters are: {full_name[0:3]}")

# slicing reversely
print(f"The last three letters are: {full_name[-1:-4:-1]}")

The first three letters are: kok
The last three letters are: gna

## Some common examples to clean strings
- make use of string methods
-

In [22]:
# splitting a sting¨
subjects = "Math, biology   , cHeMistry , Pr0gramming    "

subjects = subjects.split(",")

subjects

['Math', ' biology   ', ' cHeMistry ', ' Pr0gramming    ']

In [24]:
# strip off leading and trailing space
# check out also rstrip() and lstrip()
for subject in subjects:
    print(subject.strip())

Math
biology
cHeMistry
Pr0gramming

In [26]:
# making upper case letters
# check out lower()
for subject in subjects:
    print(subject.strip(). upper())

MATH
BIOLOGY
CHEMISTRY
PR0GRAMMING

## Regular expression
- look for pattern
- make use of differente functions in re package
- syntax of using functions from an imported package
    - re.findall()
    - imported_package.function
- check out the w3schools re tutorial to learn more symbols to form patterns

In [34]:
import re

In [33]:
text = "det var en gång en katt som tog på sig en hatt."

list_letter_att = re.findall(".att", text)
print(f"Lista med alla 'att': {list_letter_att}")

Lista med alla 'att': ['katt', 'hatt']

##### Video code along

In [1]:
firstname = "Christoffer"
lastname = "Carlsson"

fullname = firstname + " " + lastname
fullname

'Christoffer Carlsson'

In [ ]:
work = "I work at DE25" 
address = "We are located in Stockholm"
phone = "My phone number is 072-732 23 29"

contact_details = f"""
name: {fullname}
work: {work}
address: {address}
phone: {phone}
""" # multi-line f-string
print(contact_details) # print the full contact details

name: Christoffer Carlsson
work: I work at DE25
address: We are located in Stockholm
phone: My phone number is 072-732 23 29

In [7]:
menu = ["chili con carne", "noodles", "poke bowl", "pancakes", "taco"]
days = ["mo", "tu", "wed", "thu", "fri"]

weekly_menu = "Weekly menu\n" # initialize the menu string

for day, food in zip(days, menu): # zip creates pairs of items from two lists
    weekly_menu += f"{day}: {food}\n" # add a new line after each day

print(weekly_menu) # print the full menu

Weekly menu
mo: chili con carne
tu: noodles
wed: poke bowl
thu: pancakes
fri: taco

In [11]:
quote = "!False - it's funny because it's True" 
quote

"!False - it's funny because it's True"

In [12]:
quote[0] # first character

'!'

In [13]:
quote[-1] # last character

'e'

In [14]:
quote[:6] # first 6 characters

'!False'

In [15]:
quote[::-1] # the full string in reverse

"eurT s'ti esuaceb ynnuf s'ti - eslaF!"

In [16]:
string_to_check = "olasalo"
string_to_check[::-1] == string_to_check # check if the string is a palindrome

True

##### split and clean a string

In [ ]:
subjects = "Math, biology  ,   CheMistry  ,  Pr0gramming      " # a string with messy
subjects # print the original string

'Math, biology  ,   CheMistry  ,  Pr0gramming      '

In [18]:
subjects = subjects.split(",") # split the string at each comma
subjects # print the list of subjects

['Math', ' biology  ', '   CheMistry  ', '  Pr0gramming      ']

In [21]:
subjects = [subject.strip().upper() for subject in subjects] # clean each subject
for subject in subjects: # iterate through the cleaned subjects
    print(F"{subject} has {len(subject)} characters") # print the subject and its length

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PR0GRAMMING has 11 characters

### regex

In [22]:
import re # import the regex module

text = "Det var en gång en katt som tog på sig en hatt." # a sample text
match_list = re.findall(r".att", text) # find all words ending with "att"
match_list # print the list of matches

['katt', 'hatt']

In [26]:
personal_numbers = "Ida: 19900101-1234, Anna: 19851212-4321, Erik: 000303-5678"
match_long = re.findall(r"\d{8}-\d{4}", personal_numbers) # find all personal numbers with 8 digits, a hyphen, and 4 digits
match_long

['19900101-1234', '19851212-4321']

In [28]:
match_short = re.findall(r"\d{6}-\d{4}", personal_numbers) # find all personal numbers with 6 digits, a hyphen, and 4 digits
match_short

['900101-1234', '851212-4321', '000303-5678']