# strings

In [1]:
firstname = "Christoffer"
lastname = "Carlsson"

fullname = firstname + " " + lastname
fullname

'Christoffer Carlsson'

In [ ]:
work = "I work at DE25" 
address = "We are located in Stockholm"
phone = "My phone number is 072-732 23 29"

contact_details = f"""
name: {fullname}
work: {work}
address: {address}
phone: {phone}
""" # multi-line f-string
print(contact_details) # print the full contact details

name: Christoffer Carlsson
work: I work at DE25
address: We are located in Stockholm
phone: My phone number is 072-732 23 29

In [7]:
menu = ["chili con carne", "noodles", "poke bowl", "pancakes", "taco"]
days = ["mo", "tu", "wed", "thu", "fri"]

weekly_menu = "Weekly menu\n" # initialize the menu string

for day, food in zip(days, menu): # zip creates pairs of items from two lists
    weekly_menu += f"{day}: {food}\n" # add a new line after each day

print(weekly_menu) # print the full menu

Weekly menu
mo: chili con carne
tu: noodles
wed: poke bowl
thu: pancakes
fri: taco

In [11]:
quote = "!False - it's funny because it's True" 
quote

"!False - it's funny because it's True"

In [12]:
quote[0] # first character

'!'

In [13]:
quote[-1] # last character

'e'

In [14]:
quote[:6] # first 6 characters

'!False'

In [15]:
quote[::-1] # the full string in reverse

"eurT s'ti esuaceb ynnuf s'ti - eslaF!"

In [16]:
string_to_check = "olasalo"
string_to_check[::-1] == string_to_check # check if the string is a palindrome

True

##### split and clean a string

In [ ]:
subjects = "Math, biology  ,   CheMistry  ,  Pr0gramming      " # a string with messy
subjects # print the original string

'Math, biology  ,   CheMistry  ,  Pr0gramming      '

In [18]:
subjects = subjects.split(",") # split the string at each comma
subjects # print the list of subjects

['Math', ' biology  ', '   CheMistry  ', '  Pr0gramming      ']

In [21]:
subjects = [subject.strip().upper() for subject in subjects] # clean each subject
for subject in subjects: # iterate through the cleaned subjects
    print(F"{subject} has {len(subject)} characters") # print the subject and its length

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PR0GRAMMING has 11 characters

### regex

In [22]:
import re # import the regex module

text = "Det var en gång en katt som tog på sig en hatt." # a sample text
match_list = re.findall(r".att", text) # find all words ending with "att"
match_list # print the list of matches

['katt', 'hatt']

In [26]:
personal_numbers = "Ida: 19900101-1234, Anna: 19851212-4321, Erik: 000303-5678"
match_long = re.findall(r"\d{8}-\d{4}", personal_numbers) # find all personal numbers with 8 digits, a hyphen, and 4 digits
match_long

['19900101-1234', '19851212-4321']

In [28]:
match_short = re.findall(r"\d{6}-\d{4}", personal_numbers) # find all personal numbers with 6 digits, a hyphen, and 4 digits
match_short

['900101-1234', '851212-4321', '000303-5678']